body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.audios, .videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.audio1 {
    background-color: orange; 
}

.audio2 {
    background: linear-gradient(to right, #800080, #FFC0CB);
}

.audio1, .audio2, .video1, .video2 {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

audio, video {
    width: 100%;
}

/* Estilos para telas com largura máxima de 600px */
@media (max-width: 600px) {
    .audios, .videos {
        flex-direction: column;
        align-items: center;
    }

    .audio1, .audio2, .video1, .video2 {
        width: 90%;
        box-sizing: border-box;
    }
}
